.custom-navbar {
  width: 100%;
  top: 0;
  left: 0;
  background: #630563;
  height: 80px;
}
.nav-navigtion {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}
.nav-logo a {
  color: aliceblue;
  font-size: 1.5rem;
  padding-left: 20px;
  text-decoration: none;
}
.custom-nav-items a {
  color: aliceblue;
  text-decoration: none;
}
.custom-nav-items a:hover,
.custom-nav-items a:active {
  color: #fa923f;
}
.custom-nav-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 20px;
  display: flex;
}
.custom-nav-items li {
  padding: 0 0.5rem;
}
.spacer {
  flex: 1;
}
.content-image {
  flex: 1;
  background-color: lightcoral;
  height: 700px;
  background: url("./images/content3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  background-color: #630563;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin-top: 100px;
  line-height: 10px;
}
.steps {
  width: 100%;
  margin-bottom: 20px;
}
.steps h3 {
  margin-top: 30px;
  text-align: center;
}
.animcontainer {
  display: flex;
}
.progress {
  position: absolute;
  height: 6px;
  margin-top: 20px;
  margin-left: 47vh;
  animation: progress;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-color: green;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 54%;
  }
}
.progress:hover {
  animation-play-state: paused;
}
.steps-group {
  display: flex;
  width: 60%;
  margin-left: 20%;
  counter-reset: step;
  justify-content: space-between;
}
.steps-group li {
  list-style-type: none;
  position: relative;
  text-align: center;
  font-size: 25px;
}
.steps-group li::before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgb(46, 209, 46);
}
.steps-group li:first-child::after {
  content: none;
  background-color: none;
}
.line {
  margin: auto;
  width: 15vh;
  border: 2px solid black;
  margin-bottom: 30px;
}
.text {
  padding: 120px;
}
.text-redirect {
  margin-left: 100px;
  font-size: 30px;
}
.content-image a {
  text-decoration: none;
}
.footer-items {
  display: flex;
  justify-content: space-between;
}
.update {
  border: 2px solid black;
  background-color: white;
  margin-left: 10px;
}
.card:hover {
  background-color: whitesmoke;
}
